.section-1 {
    margin: 0 111px;
    font-size: 3.5rem;
    height: 200vh;
    padding: 5rem 52px;
    letter-spacing: -0.01em;
    line-height: 1;
    position: relative; 

    .scroll-text {
        position: sticky;
        top: 100px;
    }
}

.section-2{
    margin: 0 111px;
    font-size: 3.5rem;
    height: 200vh;
    padding: 5rem 52px;
    letter-spacing: -0.01em;
    line-height: 1;
    position: relative; 
}